@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #18191f;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  padding: 50px 50px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header nav ul li {
  padding: 10px 20px;
  border-radius: 20px;
}

.header-content span {
  color: #fba24f;
}

.header-content p {
  color: #828282;
  margin: 20px 0;
}

.header-content h1 {
  font-weight: 700;
  color: #575757;
  font-size: 30px;
}

.header img {
  width: 80%;
}

.half-width {
  width: 50%;
  padding: 1% 5%;
}

.primary {
  padding: 10px 20px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(tomato));
  background-image: linear-gradient(orange, tomato);
  color: #f4f4f4;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.secondary {
  border-radius: 20px;
  background: #f5f1f1;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  border: 1px solid #575757;
  cursor: pointer;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about_me {
  background-image: url("../images/shapes/7.png");
  background-repeat: no-repeat;
}

.about_me p {
  color: #18191f;
  padding: 20px 0;
}

.about_me img {
  width: 50%;
}

.recipe h3 {
  color: #828282;
  font-weight: 700;
  font-size: 36px;
}

.recipe p {
  margin: 20px 0;
  font-size: 16px;
}

.recipe-card {
  border-radius: 19px;
  -webkit-box-shadow: 8px 8px 12px #d7d7d7, -8px -8px 12px #ffffff;
          box-shadow: 8px 8px 12px #d7d7d7, -8px -8px 12px #ffffff;
  width: 377px;
  height: 428px;
  padding: 10px;
  margin: 10px;
}

.recipe-card h4 {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0;
}

.recipe-card img {
  width: 300px;
  height: 256px;
  border-radius: 20px;
}

.my-30 {
  margin: 30px 0;
}

.counter {
  max-width: 60%;
  border-radius: 19px;
  -webkit-box-shadow: 8px 8px 12px #d7d7d7, -8px -8px 12px #d7d7d7;
          box-shadow: 8px 8px 12px #d7d7d7, -8px -8px 12px #d7d7d7;
}

.counter-content {
  padding: 20px 30px;
}

.contact-me h1 {
  color: #828282;
  font-weight: 700;
  font-size: 36px;
}

.contact-me form {
  max-width: 420px;
  margin: 50px auto;
  background: #ffffff;
}

.contact-me form textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.feedback-input {
  color: #020202;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #b6abab;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
}

footer {
  background: #0b0d17;
}

footer h3 {
  color: #5b5b5b;
}

footer span {
  color: #fba24f;
}

footer p {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */